@font-face {
  font-family: 'HelveticaNeueLT Std Med';
  src: url("fonts/Helvetica-Neue-LT-Std-65-Medium.woff"), url("fonts/Helvetica-Neue-LT-Std-65-Medium.woff2");
  font-weight: 400; }
@font-face {
  font-family: 'Helvetica Neue LT Std - Hv';
  src: url("fonts/HelveticaNeueLTStd-Hv.woff"), url("fonts/HelveticaNeueLTStd-Hv.woff2");
  font-weight: 400; }
@font-face {
  font-family: 'Lato - Black';
  src: url("fonts/Lato-Black.woff"), url("fonts/Lato-Black.woff2");
  font-weight: 400; }
@font-face {
  font-family: 'Lato Light';
  src: url("fonts/LatoLight.woff"), url("fonts/LatoLight.woff2");
  font-weight: 400; }
@font-face {
  font-family: 'Lato';
  src: url("fonts/latoregular.woff"), url("fonts/latoregular.woff2");
  font-weight: 400; }
@font-face {
  font-family: "Lato - Light Italic";
  src: url("fonts/latolightitalic.woff"), url("fonts/latolightitalic.woff2");
  font-weight: 400; }
@font-face {
  font-family: 'Raleway - Extra Bold';
  src: url("fonts/raleway-extraboldall.woff"), url("fonts/raleway-extraboldall.woff2");
  font-weight: 400; }
@font-face {
  font-family: 'Raleway';
  src: url("fonts/ralewayregular.woff"), url("fonts/ralewayregular.woff2");
  font-weight: 400; }
@font-face {
  font-family: 'Raleway - Heavy';
  src: url("fonts/ralewayblack.woff"), url("fonts/ralewayblack.woff2");
  font-weight: 400; }
/*-----------------------Normalize------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

iframe {
  outline: none;
  border: none; }

a {
  text-decoration: none; }

a:active,
a:visited,
a:focus {
  outline: none; }

p {
  margin: 0; }

button, input, textarea,
input:focus,
input:active {
  outline: none;
  border: none; }

button {
  cursor: pointer; }

img {
  outline: none; }

/****************VARIABLES******************/
/***************COMMON STYLES******************/
body {
  font-family: "Lato", arial, sans-serif;
  background-color: #fafcfc;
  color: #333740;
  font-size: 16px; }

.main-width {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px; }

.btn {
  display: block;
  background: #18a3dd;
  color: #f1f1f1;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out; }
  .btn:hover {
    background: #158bbd; }

.border {
  position: relative; }
  .border::before {
    display: block;
    width: 5px;
    background-color: #18a3dd;
    content: '';
    position: absolute;
    border-radius: 2px; }

.sect-title {
  text-transform: uppercase;
  line-height: 22px;
  color: #333740;
  font-size: 30px;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 115px;
  position: relative; }
  .sect-title::after {
    display: block;
    position: absolute;
    width: 100%;
    color: #83888f;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.4px;
    bottom: -45px;
    font-size: 16px;
    font-family: "Lato", arial, sans-serif;
    text-transform: none; }
  .sect-title__main {
    font-family: "Raleway - Extra Bold", arial, sans-serif;
    font-weight: 400;
    display: inline-block;
    padding-right: 20px; }
    .sect-title__main.border::before {
      width: 1px;
      right: 0;
      height: 40px;
      top: -9px; }
  .sect-title__sub {
    padding-left: 11px;
    font-family: "Raleway", arial, sans-serif;
    font-weight: 300;
    display: inline-block; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  min-height: 1px;
  outline: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide:focus {
    outline: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  text-align: center;
  margin-top: 50px; }
  .slick-dots li {
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #d8e4e8;
    width: 13px;
    height: 13px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out; }
    .slick-dots li:hover {
      background-color: #a9a9a9; }
    .slick-dots li.slick-active {
      background-color: #18a3dd; }
    .slick-dots li button {
      display: none; }

/************PAGE STYLES*************/
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #ebebeb;
  padding-top: 25px;
  padding-bottom: 25px; }
  .header__logo {
    align-self: start;
    display: block; }
    .header__logo-img {
      width: 68px;
      height: 68px;
      background: url("../images/logo.svg") center center no-repeat;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle; }
    .header__logo-name {
      font-family: "Helvetica Neue LT Std - Hv", arial, sans-serif;
      color: #656973;
      font-size: 15px;
      font-weight: 400;
      vertical-align: middle; }
  .header__nav {
    justify-self: end;
    align-self: center;
    position: relative; }

.menu__btn {
  display: block;
  width: 35px;
  height: 29px; }
  .menu__btn:hover .menu__burger-line {
    width: 18px; }
  .menu__btn:hover .menu__burger-line::before {
    width: 25px; }
.menu__list {
  display: none;
  position: absolute;
  background: #fafcfc;
  width: 300px;
  right: 0;
  padding: 10px;
  text-align: right;
  z-index: 10;
  box-shadow: 0 1px 4px grey; }
.menu__item {
  text-transform: uppercase; }
.menu__link {
  color: #333740;
  display: block;
  padding: 5px;
  transition: transform 0.1s ease-in-out, color 0.1s ease-in-out, background-color 0.1s ease-in-out; }
  .menu__link:hover {
    transform: translateX(-2px);
    color: #fff;
    background-color: #18a3dd; }
.menu__burger-line {
  display: block;
  width: 35px;
  height: 6px;
  background-color: #666666;
  transition: width 0.2s ease-in-out;
  border-radius: 2px; }
  .menu__burger-line::after {
    display: block;
    content: "";
    width: 35px;
    height: 6px;
    background-color: #666666;
    transform: translateY(19px);
    border-radius: 2px; }
  .menu__burger-line::before {
    display: block;
    content: "";
    width: 35px;
    height: 6px;
    background-color: #666666;
    transform: translateY(12.5px);
    transition: width 0.2s ease-in-out;
    border-radius: 2px; }

.head {
  position: relative; }
  .head::before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #fafcfc 38%, transparent);
    z-index: -1; }
  .head::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 200px;
    background: url("../images/noise_bckg.png") center center repeat-x;
    z-index: -2;
    top: calc(50% - 100px); }
  .head__wrap {
    padding-top: 170px;
    padding-bottom: 170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 4; }
  .head__left {
    padding-top: 110px; }
  .head__title-block {
    color: #333740;
    font-weight: 400;
    margin-bottom: 65px;
    padding-left: 35px; }
    .head__title-block.border::before {
      height: 95px;
      left: 0; }
  .head__title {
    font-family: "Raleway - Heavy", arial, sans-serif;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 55px;
    margin-bottom: 13px; }
  .head__subtitle {
    font-family: "Raleway - Extra Bold", arial, sans-serif;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 35px; }
  .head__desrciption {
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    margin-bottom: 43px;
    line-height: 24px; }
  .head__btns {
    display: grid;
    grid-template-columns: 197px 1fr; }
  .head__order-btn {
    width: 180px; }
  .head__play-video {
    color: #333740;
    border: 3px solid #fafcfc;
    line-height: 46px;
    width: 200px;
    background: url("../images/play_video.png") no-repeat 168px center, transparent;
    text-align: left;
    font-weight: 700;
    padding: 0 10px; }
    .head__play-video:hover {
      border-color: #18a3dd;
      background: url("../images/play_video.png") no-repeat 168px center, transparent; }
  .head__right {
    position: relative;
    min-height: 535px;
    min-width: 649px; }
  .head__img {
    width: 649px;
    height: 535px;
    overflow: hidden;
    position: absolute;
    right: -71px; }

.advantages {
  background-image: linear-gradient(-40deg, #0f0816 0%, #21172b 90%, #21172b 100%); }
  .advantages__wrap {
    padding-bottom: 115px;
    padding-top: 115px;
    position: relative; }
    .advantages__wrap::before {
      position: absolute;
      display: block;
      content: "";
      width: 404px;
      height: 525px;
      background: url("../images/product_single.png") center center no-repeat;
      left: -167px;
      top: -123px; }
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 280px; }
  .advantages__numbers {
    color: #ffffff;
    font-family: "Lato - Black", arial, sans-serif;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-left: 25px;
    line-height: 59px;
    margin-bottom: 17px; }
    .advantages__numbers.border::before {
      left: 0;
      height: 50px;
      top: 8px; }
  .advantages__sign {
    color: #18a3dd;
    font-family: "Lato", arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 22px;
    text-transform: uppercase; }
  .advantages__value {
    font-family: "Lato Light", arial, sans-serif;
    color: #a9a9a9;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 24px; }

.features__wrap {
  padding-top: 115px; }
.features__title::after {
  content: "Don't forget to check these real success."; }
.features__list {
  display: grid;
  grid-template-columns: 1fr 480px 1fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 0 25px; }
.features__item--img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3; }
.features__item-title {
  color: #333740;
  font-family: "Raleway", arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0 0 25px 20px; }
  .features__item-title.border::before {
    left: 0;
    height: 35px;
    top: 4px; }
  .features__item-title--right {
    text-align: right;
    padding: 0 20px 25px 0; }
    .features__item-title--right.border::before {
      left: 100%; }
.features__img {
  height: 438px;
  width: 308px;
  overflow: hidden;
  margin: 0 auto; }
.features__descr {
  color: #5b5f64;
  line-height: 24px;
  font-family: "Lato", arial, sans-serif;
  letter-spacing: 0.4px; }
  .features__descr--right {
    text-align: right; }

.results {
  background-color: #ffffff; }
  .results__wrap {
    padding-top: 110px;
    padding-bottom: 115px;
    position: relative; }
  .results__title::after {
    content: "Don't forget to check these real success."; }
  .results__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: end;
    position: absolute;
    width: 100%;
    top: 420px;
    z-index: 1; }
  .results__nav-prev, .results__nav-next {
    display: block;
    width: 70px;
    height: 70px;
    border: 3px solid #c6cfd2;
    border-radius: 50%;
    text-align: center;
    line-height: 73px;
    transition: border-color 0.1s ease-in-out, top 0.1s ease-in-out;
    position: relative; }
    .results__nav-prev svg path, .results__nav-next svg path {
      transition: fill 0.1s ease-in-out; }
    .results__nav-prev:hover, .results__nav-next:hover {
      border-color: #18a3dd; }
      .results__nav-prev:hover svg path, .results__nav-next:hover svg path {
        fill: #18a3dd; }
    .results__nav-prev:active, .results__nav-next:active {
      top: 2px; }
  .results__nav-prev {
    transform: rotateZ(180deg);
    justify-self: start; }
    .results__nav-prev:active {
      top: 2px; }

.res-slider {
  max-width: 760px;
  margin: 0 auto;
  z-index: 2; }
  .res-slider__item {
    display: grid;
    grid-template-columns: 555px 1fr;
    grid-gap: 30px;
    width: 760px;
    height: 400px;
    margin: 0 auto; }
  .res-slider__pictures {
    position: relative; }
  .res-slider__img {
    overflow: hidden; }
    .res-slider__img--before {
      width: 262px;
      height: 300px;
      position: absolute;
      left: 0;
      top: calc(50% - 150px);
      z-index: 2; }
    .res-slider__img--after {
      width: 360px;
      height: 400px;
      position: absolute;
      right: 0;
      z-index: 1; }
  .res-slider__descr {
    align-self: center; }
  .res-slider__effects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .res-slider__values {
    color: #333740;
    text-transform: uppercase; }
  .res-slider__number {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px; }
  .res-slider__num-caption {
    font-weight: 300;
    line-height: 24px; }
  .res-slider__sign {
    color: #18a3dd;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0.4px; }
  .res-slider__client {
    color: #333740;
    text-transform: uppercase;
    padding-left: 26px; }
    .res-slider__client.border::before {
      left: 0;
      height: 40px; }
  .res-slider__name {
    font-family: "Raleway - Extra Bold", arial, sans-serif; }
  .res-slider__age {
    font-family: "Lato", arial, sans-serif;
    font-weight: 300;
    line-height: 24px; }

.testimonials {
  background: #0f0816 url("../images/bckg_01.jpg") no-repeat center center;
  position: relative; }
  .testimonials__wrap {
    padding-top: 120px;
    padding-bottom: 120px; }
    .testimonials__wrap::after {
      position: absolute;
      display: block;
      content: "";
      width: 30%;
      height: 100%;
      background-image: linear-gradient(to left, #0f0816 0%, rgba(15, 8, 22, 0.8) 95%, transparent 100%);
      top: 0;
      right: 0;
      z-index: 1; }
  .testimonials__title {
    color: #e5e5e5; }
    .testimonials__title::after {
      content: "We don't just sell, we're beloved too.";
      color: #767a7d; }

.reviews {
  max-width: 735px;
  margin: 0 auto;
  z-index: 2; }
  .reviews__item {
    display: grid;
    grid-template-rows: 62px 73px;
    grid-gap: 32px;
    text-align: center; }
  .reviews__text {
    color: #a9a9a9;
    font-family: "Lato - Light Italic", arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.4px; }
  .reviews__client {
    display: grid;
    grid-template-columns: 65px 125px;
    grid-gap: 30px;
    margin: 0 auto; }
  .reviews__img {
    width: 65px;
    height: 73px;
    overflow: hidden; }
  .reviews__info {
    text-align: left; }
    .reviews__info.border::before {
      width: 36px;
      height: 5px;
      bottom: 11px; }
  .reviews__name {
    display: inline-block;
    color: #e5e5e5;
    font-family: "Raleway", arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    padding: 4px 0; }
  .reviews__location {
    display: inline-block;
    color: #a9a9a9;
    font-size: 14px;
    font-family: "Lato Light", arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 24px; }
  .reviews .slick-dots li {
    background-color: #342e3a; }
    .reviews .slick-dots li:hover {
      background-color: #453d4d; }
    .reviews .slick-dots li.slick-active {
      background-color: #18a3dd; }

.facts__wrap {
  padding-top: 120px;
  padding-bottom: 117px; }

.ingredients {
  display: grid;
  grid-template-columns: 490px 1fr;
  grid-template-rows: 1fr 50px;
  grid-column-gap: 100px;
  grid-row-gap: 50px;
  max-width: 955px;
  margin: 0 auto; }
  .ingredients__table-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    border-bottom: 5px solid #333740;
    padding-bottom: 15px;
    width: 457px;
    margin: 0 auto; }
    .ingredients__table-title h3 {
      justify-self: start;
      color: #333740;
      font-family: "Lato - Black", arial, sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
  .ingredients__caption {
    justify-self: end;
    color: #333740;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    text-align: right; }
  .ingredients__caption-per {
    display: block;
    font-family: "Lato - Black", arial, sans-serif;
    font-weight: 400; }
  .ingredients__caption-gr {
    display: block;
    font-weight: 300; }
  .ingredients__title {
    width: 457px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 40px;
    padding: 10px 0;
    align-items: center;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #ebebeb;
    transition: padding 0.1s ease-in-out, box-shadow 0.1s ease-in-out, border-color 0.1s ease-in-out, width 0.1s ease-in-out; }
    .ingredients__title.active {
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.24);
      border: 1px solid #d7d7d7;
      background-color: #ffffff;
      padding: 10px;
      width: 100%; }
    .ingredients__title:hover .ingredients__name, .ingredients__title:hover .ingredients__value {
      color: #18a3dd; }
  .ingredients__name {
    text-align: left;
    color: #333740;
    transition: color 0.1s ease-in-out; }
  .ingredients__value {
    text-align: right;
    justify-self: end;
    color: #333740;
    transition: color 0.1s ease-in-out; }
  .ingredients__description {
    max-width: 365px; }
    .ingredients__description--inline {
      display: none; }
  .ingredients__download {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; }
  .ingredients__docs-link {
    width: 455px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 40px; }
    .ingredients__docs-link span:last-of-type {
      justify-self: end; }
    .ingredients__docs-link span:first-of-type {
      justify-self: start; }

.description__pict {
  display: block;
  width: 103px;
  height: 116px;
  overflow: hidden;
  clip-path: url(#myPath);
  -webkit-clip-path: url(#myPath); }
.description__title {
  padding-left: 20px;
  margin: 50px 0 20px 0; }
  .description__title::before {
    height: 40px;
    left: 0;
    top: 4px; }
.description__name {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #333740;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase; }
.description__value {
  line-height: 24px;
  color: #333740;
  font-family: "Lato Light", arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  padding-right: 3px; }
.description__text {
  color: #666666;
  line-height: 24px;
  font-family: "Lato Light", arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px; }

.certifications {
  background-color: #f1f4f5; }
  .certifications__wrap {
    padding-top: 80px;
    padding-bottom: 80px; }
  .certifications__title {
    margin-bottom: 84px; }
    .certifications__title::after {
      content: "We don't sell craps, We're certified."; }
    .certifications__title .sect-title__main {
      padding: 0; }

.cert-slider {
  width: 969px;
  margin: 0 auto; }
  .cert-slider__item {
    width: 193px;
    border-right: 1px solid #dcdcdc;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .cert-slider__item:last-of-type {
      border: none; }
  .cert-slider__img-wrap {
    background: #c0ced3; }
    .cert-slider__img-wrap--cradle {
      width: 89px;
      height: 91px;
      background: #b4c5ca; }
    .cert-slider__img-wrap--qopy {
      width: 151px;
      height: 59px; }
    .cert-slider__img-wrap--nsf {
      background: none; }
    .cert-slider__img-wrap--sgs {
      width: 79px;
      height: 78px; }
    .cert-slider__img-wrap--geo {
      width: 178px;
      height: 104px;
      background: #b4c5ca; }

.supplement__wrap {
  padding-top: 120px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-template-rows: 489px;
  grid-gap: 40px; }
.supplement__left {
  position: relative; }
  .supplement__left img {
    position: absolute;
    left: -100px; }
.supplement__right {
  padding-top: 79px; }
.supplement__title {
  padding-left: 35px;
  margin-bottom: 13px;
  text-align: left; }
  .supplement__title::before {
    left: 0;
    width: 5px;
    height: 40px;
    top: 3px; }
.supplement__price {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 32px;
  padding-left: 30px; }
.supplement__text {
  color: #666666;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 40px; }
.supplement__order {
  width: 181px; }
