@font-face{
  font-family: 'HelveticaNeueLT Std Med';
  src: url('fonts/Helvetica-Neue-LT-Std-65-Medium.woff'), url('fonts/Helvetica-Neue-LT-Std-65-Medium.woff2');
  font-weight: 400;
}
@font-face{
  font-family: 'Helvetica Neue LT Std - Hv';
  src: url('fonts/HelveticaNeueLTStd-Hv.woff'), url('fonts/HelveticaNeueLTStd-Hv.woff2');
  font-weight: 400;
}
@font-face{
  font-family: 'Lato Black';
  src: url('fonts/Lato-Black.woff'), url('fonts/Lato-Black.woff2');
  font-weight: 400;
}
@font-face{
  font-family: 'Lato Light';
  src: url('fonts/LatoLight.woff'), url('fonts/LatoLight.woff2');
  font-weight: 400;
}
@font-face{
  font-family: 'Lato';
  src: url('fonts/latoregular.woff'), url('fonts/latoregular.woff2');
  font-weight: 400;
}
@font-face{
  font-family: 'Raleway ExtraBold';
  src: url('fonts/raleway-extraboldall.woff'), url('fonts/raleway-extraboldall.woff2');
  font-weight: 400;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/ralewayregular.woff'), url('fonts/ralewayregular.woff2');
  font-weight: 400;
}
@font-face{
  font-family: 'Raleway-Heavy';
  src: url('fonts/ralewayblack.woff'), url('fonts/ralewayblack.woff2');
  font-weight: 400;
}

/****************VARIABLES******************/
$brightColor: #18a3dd;
$textColor: #333740;

/*-----------------------Normalize------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', arial, sans-serif;
  background-color: #fafcfc;
  color: $textColor;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
iframe {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}
a:active,
a:visited,
a:focus {
  outline: none;
  border: none;
}
p {
  margin: 0;
}
button, input, textarea,
input:focus,
input:active{
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
.main-width {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}


/*****************HEADER******************/
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #ebebeb;
  padding-top: 25px;
  padding-bottom: 25px;
  &__logo {
    align-self: start;
    display: block;
    &-img {
      width: 68px;
      height: 68px;
      background: url("../images/logo.svg") center center no-repeat;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
    }
    &-name {
      font-family: "Helvetica Neue LT Std - Hv", arial, sans-serif;
      color: #656973;
      font-size: 15px;
      font-weight: 400;
      vertical-align: middle;
    }
  }
  &__nav {
    justify-self: end;
    align-self: center;
    position: relative;
  }
}
.menu {
  &__btn {
    display: block;
    width: 35px;
    height: 29px;
    //position: relative;
    &:hover .menu__burger-line{
      width: 18px;
    }
    &:hover .menu__burger-line::before{
      width: 25px;
    }
  }
  &__list {
    display: none;
    position: absolute;
    background: #fafcfc;
    width: 300px;
    right: 0;
    padding: 10px;
    text-align: right;
    z-index: 10;
    box-shadow: 0 1px 4px grey;
  }
  &__item {
    text-transform: uppercase;
    //border-right: 1px solid $brightColor;
  }
  &__link {
    color: $textColor;
    display: block;
    padding: 5px;
    transition: transform 0.1s ease-in-out,
                color 0.1s ease-in-out,
                background-color 0.1s ease-in-out;
    &:hover {
      transform: translateX(-2px);
      color: #fff;
      background-color: $brightColor;
    }
  }
  &__burger-line {
    display: block;
    width: 35px;
    height: 6px;
    background-color: #666666;
    transition: width 0.2s ease-in-out;
    border-radius: 2px;
    &::after {
      display: block;
      content: "";
      width: 35px;
      height: 6px;
      background-color: #666666;
      transform: translateY(19px);
      border-radius: 2px;
    }
    &::before {
      display: block;
      content: "";
      width: 35px;
      height: 6px;
      background-color: #666666;
      transform: translateY(12.5px);
      transition: width 0.2s ease-in-out;
      border-radius: 2px;
    }
  }
}